<div class="weather-card">
   <div class="main-weather-info">
      <div class="sub-card">
         <p class="info-header">Temp</p>
         <p><span class="big-nums">{{currentTemp}}</span><span class="subtext">F</span></p>
      </div>
      <div class="sub-card">
         <p class="info-header">Wind Speed</p>
         <p><span class="big-nums">{{wind}}</span><span class="subtext">MPH</span></p>
      </div>
      <div class="sub-card">
         <p class="info-header">Humidity</p>
         <p><span class="big-nums">{{humidity}}</span><span class="subtext">%</span></p>
      </div>
   </div>

   <img src="{{image}}" class="main-weather-image" title="{{weather.desc}}"/>

</div>